<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= '<div data-alert class="alert-box radius alert">'.html_safe + devise_error_messages! + '<a href="#" class="close">&times;</a></div>'.html_safe if devise_error_messages!.present?%><p><%= f.label :name %>
<%= f.text_field :name %></p>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class=> "button round" %></div>
<% end %>

<%= render "devise/shared/links"%>