<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <title>AngularRails4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<!-- Navigation -->

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Dan's Play App
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="h">
          <a href="/posts">Posts</a>
        </li>
        <li class="divider"></li>

        <% if user_signed_in? %>
          <li><a href="/posts/new">New Post</a></li>
          <li class="divider"></li>
        <% end %>
        
        <% if user_signed_in? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :style=>"background-color:#3399cd" %>
        </li>

        <% else %>
          <li>
          <a href="/users/sign_in" style="background-color:#3399cd" >Login</a>
        </li>
        <% end %>
      </ul>
    </section>
  </nav>
  <% if user_signed_in? %>
    <div class="text-right" style="margin:-10px 20px 10px">          
      <a href="#" data-dropdown="user" class="button secondary dropdown round small inline" ><%= current_user.name %></a>
      <ul id="user" class="f-dropdown" data-dropdown-content class="text-left">
      <li class="text-center"> <%= link_to "User Profile", current_user %></li>  
      <li class="text-center"><%= link_to "Edit Account", edit_user_registration_path %> </li> 
      </ul>
      <%= link_to "Edit account", edit_user_registration_path %>
    </div>
  <% end %>
      <%= link_to "Edit account", edit_user_registration_path %>

  <div class="row">
    <div class="large-12 columns">
    <%= '<div data-alert class="alert-box radius alert">'.html_safe + alert + '<a href="#" class="close">&times;</a></div>'.html_safe if alert.present?%>

    <%= '<div data-alert class="alert-box radius success">'.html_safe + notice + '<a href="#" class="close">&times;</a></div>'.html_safe if notice.present?%>
   	 <%= yield %>
    </div>
  </div>



    
  </body>

</html>

